<body class="gallery-page">
  <section class="gallery-hero">
    {{#uploads}}
      <h1>{{title}}</h1>
      <h2>{{location}}</h2>
      <p>{{datum}}</p>
      <img src="{{image}}" />
    {{/uploads}}
  </section>
</body>