<h1>Hallo!</h1>

<section class="upload">
  <form action="/gallery" enctype="multipart/form-data" method="post">
    <input type="text" name="location" />
    <input type="text" name="datum" />
    <input type="file" name="image" />
    <input type="submit" />
  </form>
</section>