<body class="register-seite">

  <h2>Registrieren</h2>

  <form action="/register" method="POST">
    Name:
    <input name="name" type="text" /><br />
    E-Mail:
    <input name="username" type="text" /><br />
    Passwort:
    <input name="password" type="password" /><br />
    <input type="submit" value="Registrieren" />
  </form>

</body>