Registrierung
<form action="/register" enctype="multipart/form-data" method="post">
  Benutzername:
  <input type="text" name="benutzername" /><br />
  Passwort:
  <input type="password" name="password" /><br />
  Avatar:
  <input type="text" name="avatar" /><br />
  <input type="submit" />
</form>