<section class="hero">
  <div class="hero-content">
    <h1>“The mountains are calling and I must go.”</h1>
    <p>- john muir</p>
  </div>
</section>

<section class="mission-section">
  <div class="content">
    <h3>Our Mission</h3>
    <p>Wir glauben daran, dass jeder die besten Wanderungen erleben sollte, die die Natur zu bieten hat. Schließe dich uns an und entdecke mehr!</p>
  </div>
</section>

<section class="tree">
  <img src="/public/uploads/tree2.jpg" alt="">
</section>




{{> footer}}