<section class="hero">
  <div class="hero-content">
    <h1>“The mountains are calling and I must go.”</h1>
    <p>- john muir</p>
    <a href="/gallery" class="btn">Explore Gallery</a>
  </div>
</section>

{{#uploads}}
  <h2>{{location}}</h2>
  <p>{{datum}}</p>
{{/uploads}}




{{> contactform}}
{{> footer}}